all:
  hosts:
    # Мастера
    
    k8s-master-1:
      ansible_host: 10.1.1.31
      ansible_user: ubuntu
      ansible_ssh_common_args: -J ubuntu@51.250.11.21
    
    # Воркеры
    
    k8s-worker-1:
      ansible_host: 10.1.1.6
      ansible_user: ubuntu
      ansible_ssh_common_args: -J ubuntu@51.250.11.21
    
    k8s-worker-2:
      ansible_host: 10.1.2.21
      ansible_user: ubuntu
      ansible_ssh_common_args: -J ubuntu@51.250.11.21
    
kube_control_plane:
    hosts:
      
      k8s-master-1:
      
kube_node:
    hosts:
      
      k8s-worker-1:
      
      k8s-worker-2:
      
etcd:
    hosts:
      
      k8s-master-1:
      